html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}
#map {
        height: 100%;
}
h1, h2, img {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 0%;
  z-index: 5;
  background:#232830;
  padding: 5px;
  border: 1px solid #999;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

label {
  color: #959ba2;
}
#submit {
    background-color: #273D48;
    color: #2FB49B;
    border: none;
    text-align: center;
    font-size: 16px;
}
#limitNumber {
  background-color: #273D48;
  color: #2FB49B;
  border: none;
  font-size: 14px;
}
#radiusNumber {
  background-color: #273D48;
  color: #2FB49B;
  border: none;
  font-size: 14px;
}


